// All elements have normalized borders, margins, and padding.
* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}

// The html element allows the body element to cover the window.
html {
	width: 100%;
	height: 100%;
}

// The body element covers the window and defines default colors and fonts.
body {
	width: 100%;
	min-height: 100%;
	color: #fff8e7;
	background-color: #011;
	font-family: Helvetica, Arial, sans-serif;
}

// Links have a custom color that changes when hovered.
a {
	color: #4d4;
	
	&:hover {
		color: #fff8e7;
	}
}

// Use alternative colors if the user prefers a light color scheme.
@media screen and (prefers-color-scheme: light) {
	body {
		color: #000;
		background-color: #fff8e7;
	}
	
	a {
		color: #321;
		
		&:hover {
			color: #228;
		}
	}
}
