// The body and landmarks display their content centered in a vertical line.
body, main, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// The landmarks are centered towards the bottom with 1em of padding.
main, footer {
	margin-top: auto;
	padding: 1em;
}

// The heading is uppercase and scales with the window size.
h1 {
	font-size: 14vmin;
	text-transform: uppercase;
}

// The navigation bar is horizontal and covers the width of the main element.
nav {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	width: 100%;
}

// Main links are separated with borders and scale with the window size.
main a {
	padding: 0.6vmin;
	font-size: 5vmin;
	
	+ a {
		border-left: 0.5vmin dotted #353;
		
		@media screen and (prefers-color-scheme: light) {
			border-color: #b96;
		}
	}
	
	@media screen and (max-width: 640px) {
		font-size: 6vmin;
	}
	
	@media screen and (max-width: 480px) {
		font-size: 7vmin;
	}
}

// Display links vertically without borders if the window is too small.
@media screen and (max-aspect-ratio: 5/3),
screen and (max-width: 640px), screen and (max-height: 500px) {
	nav {
		flex-direction: column;
	}
	
	main a + a {
		border: 0;
	}
}
