* {
	// Reset the box model for all elements.
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	// Allow the page to fill the viewport.
	width: 100%;
	height: 100%;
}

body {
	// Display the page vertically with flex.
	display: flex;
	flex-direction: column;
	align-items: stretch;

	// Make the page fill the viewport.
	width: 100%;
	min-height: 100%;

	// Use a sans-serif font.
	font-family: Helvetica, Arial, sans-serif;
}

// Accent colour derived from banner image. Must contrast with the main
// content's background colour for headings and links to be accessible.
$accent-colour: #1e416b;

h1, h2, h3, h4, h5, h6 {
	// Use the accent colour for headings.
	color: $accent-colour;

	// Use an italic serif font for headings.
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

p {
	// Add a margin to the top and bottom of paragraphs.
	margin: 0.25em 0 1em;
}

a {
	// Use the accent colour and bold text for links.
	color: $accent-colour;
	font-weight: bold;

	&:hover {
		// Use a different colour when hovering over links.
		color: #057;
	}
}

audio {
	// Make audio players take up their own line.
	display: block;

	// Add a margin to the top of audio players.
	margin-top: 0.5em;
}

// The target width of a line of text for readability.
$line-width: 70ch;

.centred {
	// Add automatic horizontal margins to centred content.
	margin: 0 auto;

	// Limit the width of centred content.
	max-width: $line-width;
}

.padded {
	// Add padding to padded sections.
	padding: 1em;
}

// `@use` is preferred, but not supported by libsass.
@import "main/header", "main/footer";
