// `@use` is preferred, but not supported by libsass.
@import "common";

.tweet {
	// Use rounded corners for Tweets.
	border-radius: 1em;

	// Give Tweets a different background colour to the main content's
	// background colour.
	background: linear-gradient(#eee, #ddd), #eee;
}

.tweet-decoration {
	// Use a different text colour for hashtags and mentions.
	color: $accent-colour;
}

.tweet-photo {
	// Display photos as blocks to enable overlapping margins.
	display: block;

	// Centre photos horizontally and add a margin above them.
	margin: 1em auto 0;

	// Add a rounded border to photos.
	border: 0.25em solid #ccc;
	border-radius: 1em;

	// Limit photos to the width of the Tweet.
	max-width: 100%;
}
