// `@use` is preferred, but not supported by libsass.
@import "common";

.tweet {
	// Add a margin to the bottom of Tweets.
	margin-bottom: 1em;

	// Use rounded corners for Tweets.
	border-radius: 0.5em;

	// Give Tweets a different background colour to the main content's
	// background colour.
	background: linear-gradient(#eee, #ddd), #eee;
}

.tweet-decoration {
	// Use a different text colour for hashtags and mentions.
	color: $accent-colour;
}

.tweet-photo-link {
	// Display photo links as blocks to enable margins.
	display: block;

	// Centre photo links horizontally and add a margin above them.
	margin: 1em auto 0;

	// Add a rounded border to photo links.
	border: 0.25em solid #ccc;
	border-radius: 0.25em;

	// Shrink photo links to fit the photo.
	width: fit-content;

	&:hover {
		// Use a different border colour when hovering over photo links.
		border-color: #cdd;
	}
}

.tweet-photo {
	// Display photos as blocks to remove the gap around the border.
	display: block;

	// Limit photos to the width of the Tweet.
	max-width: 100%;
}

.tweet-video {
	// Make videos take up the full width of the Tweet.
	width: 100%;

	// Display videos with a 16:9 aspect ratio.
	aspect-ratio: 16/9;
}
