<header class="banner">
	<nav class="centred" aria-label="Main">
		<ul class="navbar">
			{{ range .Site.Menus.main -}}
				<li class="navbar-item">
					{{ if $.Page.IsMenuCurrent .Menu . }}
						<a href="{{ .URL }}" class="current navbar-link" aria-current="page">{{ .Name }}</a>
					{{ else if $.Page.HasMenuCurrent .Menu . }}
						<a href="{{ .URL }}" class="current navbar-link" aria-current="true">{{ .Name }}</a>
					{{ else }}
						<a href="{{ .URL }}" class="navbar-link">{{ .Name }}</a>
					{{ end }}
				</li>
			{{- end }}
		</ul>
	</nav>
</header>
