{{ $id := .photo.id }}
{{ if not $id }}
	{{ errorf "Tweet #%s has a photo with a missing ID." .tweetID }}
{{ end }}
{{ $alt := .photo.alt }}
{{ if not $alt }}
	{{ errorf "The Tweet photo %q requires alt text. See Tweet #%s" $id .tweetID }}
{{ end }}
{{ $photo := resources.Get (print "img/tweets/" $id ".png") }}
{{ $thumb := $photo.Fit "540x540 jpeg" | resources.Copy (
	print "img/tweets/thumbnails/" $id ".jpg"
) }}
{{ if in site.Data.jpeg_tweet_photos $id }}
	{{ $photo = $photo.Process "jpeg q100" | resources.Copy (print "img/tweets/" $id ".jpg") }}
{{ end }}
<a
	href="{{ $photo.RelPermalink }}"
	target="_blank"
	rel="noopener noreferrer"
	class="tweet-photo-link"
>
	<img
		src="{{ $thumb.RelPermalink }}"
		{{ if .isPreview }}
			loading="lazy"
		{{ end }}
		alt="{{ $alt }}"
		class="tweet-photo"
	>
</a>
