{{ $thumbSize := 640 }}
{{ $id := .photo.id }}
{{ if not $id }}
	{{ errorf "Tweet #%s has a photo with a missing ID." .tweetID }}
{{ end }}
{{ $alt := .photo.alt }}
{{ if not $alt }}
	{{ errorf "The Tweet photo %q requires alt text. See Tweet #%s" $id .tweetID }}
{{ end }}
{{ $photo := resources.Get (print "img/tweets/" $id ".png") }}
{{ $thumb := $photo.Fit (print $thumbSize "x" $thumbSize " png") | resources.Copy (
	print "img/tweets/" $id "-thumb.png"
) }}
{{ $jpegThumb := $photo.Fit (print $thumbSize "x" $thumbSize " jpeg") | resources.Copy (
	print "img/tweets/" $id "-thumb.jpg"
) }}
{{ if lt (len $jpegThumb.Content) (len $thumb.Content) }}
	{{ $thumb = $jpegThumb }}
{{ end }}
{{ with index site.Data.tweet_photo_jpeg_quality $id }}
	{{ $jpegPhoto := $photo.Process (print "jpeg q" .) | resources.Copy (print "img/tweets/" $id ".jpg") }}
	{{ if gt (len $jpegPhoto.Content) (len $photo.Content) }}
		{{ errorf "JPEG Tweet photo %q is larger than its source. Reduce its quality" $id }}
	{{ end }}
	{{ $photo = $jpegPhoto }}
{{ end }}
{{ if and
	(le $photo.Width $thumbSize)
	(le $photo.Height $thumbSize)
	(le (len $photo.Content) (len $thumb.Content))
}}
	{{ $thumb = $photo }}
{{ end }}
<a
	href="{{ $photo.RelPermalink }}"
	target="_blank"
	rel="noopener noreferrer"
	class="tweet-photo-link"
>
	<img
		src="{{ $thumb.RelPermalink }}"
		{{ if .isPreview }}
			loading="lazy"
		{{ end }}
		alt="{{ $alt }}"
		class="tweet-photo"
	>
</a>
