{{ $tweetID := .Params.tweetID }}
{{ if not $tweetID }}
	{{ errorf "The Tweet page %q requires a Tweet ID." .RelPermalink }}
{{ end }}
<article aria-labelledby="tweet-{{ $tweetID }}">
	<h1 id="tweet-{{ $tweetID }}">Tweet from {{ partial "tweets/date.html" .Date }}</h1>
	<blockquote class="padded tweet" aria-label="Tweet content">
		{{ .Content }}
		{{ range .Params.photos }}
			{{ partial "tweets/photo.html" (dict "tweetID" $tweetID "photo" .) }}
		{{ end }}
		{{ with .Store.Get "youtubeVideoID" }}
			<iframe
				src="https://www.youtube-nocookie.com/embed/{{ . }}"
				allow="fullscreen"
				sandbox="allow-popups allow-same-origin allow-scripts"
				referrerpolicy="no-referrer"
				credentialless="true"
				class="tweet-video"
				title="YouTube video"
			></iframe>
		{{ end }}
	</blockquote>
	{{ with .Params.context }}
		<footer aria-labelledby="tweet-{{ $tweetID }}-context">
			<h2 id="tweet-{{ $tweetID }}-context">Context</h2>
			{{ $.RenderString (dict "display" "block") . }}
		</footer>
	{{ end }}
</article>
