{{ $tweet := .tweet }}
{{ $tweetParams := $tweet.Params }}
{{ $tweetID := $tweetParams.tweetID }}
{{ $tweetTitle := print "Tweet from " (partial "tweets/date.html" $tweet.Date.Local) | safeHTML }}
{{ $isPreview := .isPreview }}
{{ if not $tweetID }}
	{{ errorf "The Tweet page %q requires a Tweet ID." .RelPermalink }}
{{ end }}
<article aria-labelledby="tweet-{{ $tweetID }}">
	{{ if $isPreview }}
		<h2 id="tweet-{{ $tweetID }}"><a href="{{ $tweet.RelPermalink }}">{{ $tweetTitle }}</a></h2>
	{{ else }}
		<h1 id="tweet-{{ $tweetID }}">{{ $tweetTitle }}</h1>
	{{ end }}
	<blockquote class="padded tweet" aria-label="Tweet content">
		{{ $tweet.Content }}
		{{ range $tweetParams.photos }}
			{{ partial "tweets/photo.html" (dict
				"tweetID" $tweetID
				"photo" .
				"isPreview" $isPreview
			) }}
		{{ end }}
		{{ with $tweet.Store.Get "youtubeVideoID" }}
			<iframe
				src="https://www.youtube-nocookie.com/embed/{{ . }}"
				{{ if $isPreview }}
					loading="lazy"
				{{ end }}
				allow="fullscreen"
				sandbox="allow-popups allow-same-origin allow-scripts"
				referrerpolicy="no-referrer"
				credentialless="true"
				class="tweet-video"
				title="YouTube video"
			></iframe>
		{{ end }}
	</blockquote>
	{{ with $tweetParams.context }}
		<footer aria-labelledby="tweet-{{ $tweetID }}-context">
			{{ if $isPreview }}
				<h3 id="tweet-{{ $tweetID }}-context">Context</h3>
			{{ else }}
				<h2 id="tweet-{{ $tweetID }}-context">Context</h2>
			{{ end }}
			{{ $tweet.RenderString (dict "display" "block") . }}
		</footer>
	{{ end }}
</article>
