.navbar {
	// Remove bullet points from the navbar.
	list-style: none;
}

.navbar a {
	// Using `display: block` causes navbar links to be displayed properly in
	// both horizontal and vertical cases. I don't know why this works.
	display: block;

	// Add padding to navbar links.
	padding: 0.5em;

	// Use a darker version of the main content's background colour for a
	// neumorphic 'tab' effect.
	background: linear-gradient(#ccc, #bbb), #ccc;

	// Remove the underline from navbar links.
	text-decoration: none;

	&:hover {
		// Use a different background colour while hovering over the navbar
		// link.
		background: linear-gradient(#cdd, #dee), #dee;
	}

	&.current {
		// Use the main content's background colour for the current navbar link.
		background: linear-gradient(#ddd, #fff), #fff;
	}
}

// Display the navbar horizontally if the screen is wide enough.
@media screen and (min-width: $content-width) {
	header {
		// Add padding for navbar decoration.
		padding: 2em 1em 0;

		// Use a nice background image.
		background: url("/img/banner.jpg") center, $accent-colour;
		background-size: cover;
	}

	.navbar li {
		// Display the navbar horizontally.
		display: inline-block;
	}

	.navbar a {
		// Make the navbar links bigger.
		padding: 0.75em;
	}
}
